@page "/room"
@page "/room/{RoomId:int}"
<div class="game-room">
    <h1>Комната @RoomId</h1>
    <div class="table-container">
        <div class="dealer">
            D
        </div>
        <div class="players-container">
            <div class="player">P</div>
            <div class="player">P</div>
            <div class="player">P</div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int RoomId { get; set; } = 0;
    private int roomId;

    protected override void OnParametersSet()
    {
        roomId = RoomId;
    }
}
